.vs/*
*.vcxproj.user

common/x64/*
renderer/x64/*
rtcore/x64/*
viewer/x64/*

x64/Debug/common.idb
x64/Debug/common.pdb
x64/Debug/embree.exe
x64/Debug/embree.pdb
x64/Debug/freeglut.dll
x64/Debug/renderer.idb
x64/Debug/renderer.pdb
x64/Debug/rtcore.idb
x64/Debug/rtcore.pdb

x64/Release/common.idb
x64/Release/common.pdb
x64/Release/embree.exe
x64/Release/embree.pdb
x64/Release/freeglut.dll
x64/Release/renderer.idb
x64/Release/renderer.pdb
x64/Release/rtcore.idb
x64/Release/rtcore.pdb
